@font-face {
	font-family: "chkndo-icons";
	src: url('chkndo-icons.eot?v=4.7.1');
	src: url('chkndo-icons.eot?#iefix&v=4.7.1') format('eot'),
		url('chkndo-icons.woff2?v=4.7.1') format('woff2'),
		url('chkndo-icons.woff?v=4.7.1') format('woff'),
		url('chkndo-icons.ttf?v=4.7.1') format('truetype'),
		url('chkndo-icons.svg?v=4.7.1#chkndo-icons') format('svg');
}

[class^="chkndo-icons"], [class*=" chkndo-icons"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'chkndo-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.chkndo-icons-address:before {
	content: "\E001";
}

.chkndo-icons-arrow-left:before {
	content: "\E002";
}

.chkndo-icons-arrow-right:before {
	content: "\E003";
}

.chkndo-icons-bike:before {
	content: "\E004";
}

.chkndo-icons-category:before {
	content: "\E005";
}

.chkndo-icons-credit-card:before {
	content: "\E006";
}

.chkndo-icons-location:before {
	content: "\E007";
}

.chkndo-icons-paypal:before {
	content: "\E008";
}

.chkndo-icons-phone:before {
	content: "\E009";
}

.chkndo-icons-wallet:before {
	content: "\E00A";
}

.chkndo-icons-index.html:before {
	content: "\E00B";
}